@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
    :root {
        --background: 0 0 0;
        --foreground: 255 255 255;
    }

    body {
        @apply bg-space-black text-text-primary antialiased;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

/* Smooth Scrolling for anchor links */
html {
    scroll-behavior: smooth;
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE and Edge */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

/* Reduced Motion Preference */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}